@{
    ViewBag.Title = "About it";
}
body {
      background-color:White;
      }
h4 {
    color:Bluegreen;
    text-align:right;
   }
p {
   font-family:Verdana;
 }
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h4>

<h4><b>Use this area to provide additional information-PavaniReddy.</b></h4>
<div Style="color:yellow;"><i>BBI is my first project<del>commit</del></i></div>
<strong style="color:red;"><emp>Nike is my second project<del>commit</del></emp></strong>
<p style="color:orange;"><br>VIVO is my third project <del>commit</del></p>

