@{
    ViewBag.Title = "About it";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="color:blue;"><b>Use this area to provide additional information-PavaniReddy.</b></p>
<p Style="color:red;"><i>This is my first commit</i></p>
<p style="color:green;"><emp>This is my second commit</emp></p>
<p style="color:pink;"><br>This is my third commit</p>

