@{
    ViewBag.Title = "About it";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="color:Bluegreen;"><b>Use this area to provide additional information-PavaniReddy.</b></p>
<p Style="color:red;"><i>This is my first <del>commit</del></i></p>
<p style="color:green;"><emp>This is my second <del>commit</del></emp></p>
<p style="color:orange;"><br>This is my third <del>commit</del></p>

