@{
    ViewBag.Title = "About it";
}
body {
      background-color:pink;
      }
h4 {
    color:Bluegreen;
    text-align:right;
   }
p {
   font-family:Verdana;
 }
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4><b>Use this area to provide additional information-PavaniReddy.</b></h4>
<div Style="color:red;"><i>This is my first <del>commit</del></i></div>
<strong style="color:green;"><emp>This is my second <del>commit</del></emp></strong>
<p style="color:orange;"><br>This is my third <del>commit</del></p>

